# ***K-Nearest Neighbors (KNN) Algorithm***

The K-Nearest Neighbors (KNN) algorithm is a supervised machine learning algorithm used for both classification and regression.

It's works based on the principle of similarity. KNN operates by comparing the distance between a test data point and training data points, and assigns the class label based on the majority class of the nearest neighbors (for classification) or the average value of the neighbors (for regression).

## Steps for Implementation

   1. Import necessary libraries.
   2. Load the dataset.
   3. Preprocess the data (if necessary).
   4. Split the dataset into training and testing sets.
   5. Implement the KNN algorithm.
   6. Predict the class label for the test data.
   7. Evaluate the model's performance (using accuracy, confusion matrix, etc.)

In [14]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_iris
iris = load_iris()

In [9]:
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [10]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [ ]:
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [18]:
df.shape

(150, 4)

In [19]:
df['target'] = iris.target
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [ ]:
df[df.target==1].head()